name = "ghiceste-server"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[vars]
ENVIRONMENT = "development"

[[kv_namespaces]]
binding = "LEADERBOARDS"
id = "dfd5c9f0c99447cc9d87d60ad8c98268"
